#address-autocomplete-form .col-form-label {
    z-index: 100;
    text-align: left
}

#address-autocomplete-form {
    margin-top: 0;
    width: 100%;
    background-color: #f7f7f9
}

@media (min-width:768px) {
    #address-autocomplete-form .col-form-label {
        text-align: right
    }
    #address-autocomplete-form {
        margin-top: 40px;
        padding: 20px;
        width: 90%
    }
}

@media (min-width:992px) {
    #address-autocomplete-form {
        width: 70%
    }
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    margin-top: 2px;
    padding: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    list-style: none;
    cursor: default
}

.ui-autocomplete>li.ui-state-focus {
    background-color: rgba(0, 0, 0, .06)
}

.ui-helper-hidden-accessible {
    display: none
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

input:focus:-moz-placeholder {
    color: transparent
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-state-active.ui-button:hover {
    background: rgba(0, 0, 0, .06)!important
}

.address-autocomplete-result-list-style-empty {
    content: ""
}

.ui-menu-item-wrapper {
    padding: .5rem .75rem
}

.ui-menu-item {
    border-bottom: 1px solid rgba(0, 0, 0, .06)
}

.ui-menu .ui-menu-item a,
.ui-autocomplete>li:hover {
    cursor: pointer
}

#address-autocomplete-form div.form-check {
    position: relative;
    display: block;
    margin-bottom: 0rem;
    padding-top: .5rem
}

#address-autocomplete-form .form-check-label {
    padding-right: .5em;
    cursor: pointer
}

.center-aligned {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center)
}

.footer-autocomplete {
    text-align: right!important
}

.wrapper {
    position: relative;
    z-index: 1000!important;
    display: none;
    min-height: auto;
    height: 326px;
    text-align: center;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s
}

#fullAddress {
    display: grid;
    margin: auto;
    padding-top: 123px;
    padding-bottom: 100px;
    padding-left: 70px;
    max-width: 400px;
    vertical-align: bottom;
    line-height: 10px
}

#fullAddress div:after {
    width: 100%;
    content: '';
    line-height: 10px
}

.text {
    position: relative;
    top: -330px;
    right: 0;
    bottom: 0;
    left: 0;
    color: #000;
    text-align: left;
    white-space: pre;
    justify-content: left;
    align-items: left
}

.ajax-loading {
    background: url(../../images/ajax-loader.gif) no-repeat right center
}

div[id=fullAddress]>div {
    margin-right: auto;
    margin-left: 0;
    max-width: 540px;
    width: auto;
    line-height: normal;
    border: 1px transparent solid
}

div[id=fullAddress]>div[class=row]>div:hover {
    border: 1px #000 solid;
    background-color: #e0a800
}

div[id=fullAddress]>div:not(.row):hover {
    border: 1px #000 solid;
    background-color: #e0a800
}

div[id=fullAddress]>div:active {
    background-color: darkgray;
    border: 1px transparent solid
}

.copied {
    border: 1px #333 dashed!important;
    background-color: whitesmoke!important
}

#btn_copy {
    float: right
}